body {
  font-family: Arial, Helvetica, sans-serif;
}

.alert {
  background: #fd7e14;
}

#todos .parent {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.box {
  display: grid;
  place-items: center;
  background: lightgreen;
  font-size: 2rem;
}

.new {
  background: #fd7e14;
}


.btn {
  box-shadow:inset 0px -3px 7px 0px #29bbff;
  background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
  background-color:#2dabf9;
  border-radius:3px;
  border:1px solid #0b0e07;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  padding:9px 23px;
  text-decoration:none;
  text-shadow:0px 1px 0px #263666;
}
.btn:hover {
  background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
  background-color:#0688fa;
}
.btn:active {
  position:relative;
  top:1px;
}